.extra {
    font-size:0.8em;
}

.score {
    background-color: #ff9800;
    width: fit-content;
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-weight: bolder;
}


.center-score {
    margin-left: auto;
    margin-right: auto;
}

.left-margin {
    margin-left: 50px;
}