<div class="extra" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" ngClass="left-margin" ngClass.xs="">
  <div class="group" fxFlex="15" fxFlexOrder="3" fxFlexOrder.xs="1" >
    <div>
      Review Score
    </div>
    <div>
      <div class="score"  ngClass="" ngClass.xs="center-score">---</div>
    </div>
  </div>
  <div class="group" fxFlex="15" fxFlexOrder="2" fxFlexOrder.xs="2" >
    <div fxLayoutAlign.xs="center center">
      Workflow <fa name="pencil"></fa>
    </div>
    <div class="blue">
      Idea Review/PLM II
    </div>
  </div>
  <div class="group" fxFlex="15" fxFlexOrder="1" fxFlexOrder.xs="3" >
    <div>
      Assignes
    </div>
    <div class="blue">
      Assignes
    </div>
  </div>
  
</div>