.content {
    //text-align: center;
    //font-size: 0.6em;
    //margin-bottom: 20px;
}

.content img {
    width: 95%;
}

.score {
    star-rating {
        display: inline-block;
    }
}

span.title {
    font-size: 1.4em;
    font-weight: bold;
}

.top-margin {
    margin-top: 70px;
}