<div class="content" fxLayout="row"  fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign.xs="center center">
  <img alt="No image uploaded" src="/assets/images/no_image.png"  fxFlex="40"  fxFlexOrder="1">

  <div class="info" fxFlex="30" fxFlex.xs="15" fxFlexOrder="3" fxFlexOrder.xs="2" fxLayout="column">
    <div class="score"  fxLayoutAlign="end start">
        <span fxHide.xs>Posted</span>&nbsp;  
        <span class="blue"> Anonymous User</span> 
        <star-rating [starType]="'svg'" [rating]="2.63" size="small"></star-rating> <span>()</span>
    </div>
    <div class="date" fxLayoutAlign="end start">
      <fa name="calendar"></fa>&nbsp; {{date | date: 'MMMM d, yyyy h:mm a'}}
    </div>
  </div>

  <span class="title" fxFlex="30" fxFlexOrder="2" fxFlexOrder.xs="3" fxLayoutAlign.xs="center start"
  ngClass="top-margin" ngClass.xs="">
    Idea Summary
  </span>
</div>
