
.main-panel {
    height: 100vh;
    overflow-y: scroll;
    margin-top: 20px;
}

.card {
    margin: 10px 20px;
    padding-top: 20px;
}


.top-options {
    position: absolute;
    top: -15px;
}
.top-options .list{
    position: relative;
    bottom: -10px;
    right: -10px;
}
