
<div class="main-panel" fxLayout="column" >
  
  <div *ngFor="let item of elements;" class="card bg-light" >
      <div class="card-body">
        <div class="top-options">
          
          <button type="button" class="btn btn-info">
            <fa name="lightbulb-o"></fa>            
          </button>
          <fa class="list" name="list-alt"></fa>
        </div>


        <app-basic-info fxLayout="column" fxLayout.xs="rows"></app-basic-info>
        <app-extra-info fxLayout="column"></app-extra-info>
      </div>
    </div>
    


  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [infiniteScrollContainer]="selector"
    [fromRoot]="true"
    (scrolled)="onScroll()"
  ></div>

</div>
    



  

