/* You can add global styles to this file, and also import other style files */
@import '~css-star-rating/scss/star-rating';
body {
    background-color: white !important;
}



.blue{
    color: blue;
    font-weight: bold;
}